{% extends 'base.html' %}

{% block title %}Crear Nueva Vivienda{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10"> <!-- Se incrementa el ancho del formulario -->
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white text-center">
                    <h3 class="mb-0 text-center">Crear Nueva Vivienda</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="direccion" class="form-label">Dirección:</label>
                                <input type="text" class="form-control" id="direccion" name="direccion" required>
                            </div>
                            <div class="col-md-6">
                                <label for="ciudad" class="form-label">Ciudad:</label>
                                <input type="text" class="form-control" id="ciudad" name="ciudad" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="precio" class="form-label">Precio:</label>
                                <input type="number" step="0.01" class="form-control" id="precio" name="precio"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label for="propietario" class="form-label">Propietario:</label>
                                <select id="propietario" class="form-select" name="propietario_id" required>
                                    {% for propietario in propietarios %}
                                    <option value="{{ propietario.id }}">{{ propietario.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="tipo_inmueble" class="form-label">Tipo de Vivienda:</label>
                                <select id="tipo_inmueble" class="form-select" name="tipo_inmueble_id" required>
                                    {% for tipo in tipos_inmuebles %}
                                    <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="region" class="form-label">Región:</label>
                                <select id="region" class="form-select" name="region_id" required>
                                    <option value="">Seleccione una región</option>
                                    {% for region in regiones %}
                                    <option value="{{ region.id }}">{{ region.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-12">
                                <label for="comuna" class="form-label">Comuna:</label>
                                <select id="comuna" class="form-select" name="comuna_id" required>
                                    <option value="">Seleccione una comuna</option>
                                    {% for comuna in comunas %}
                                    <option value="{{ comuna.id }}">{{ comuna.nombre }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Crear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#region").change(function() {
            var url = "{% url 'ajax_load_comunas' %}";
            var regionId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'region': regionId
                },
                success: function(data) {
                    $("#comuna").html(data);
                }
            });
        });
    });
</script>

{% endblock %}