<!DOCTYPE html>
<html>
<head>
    <title>Crear Vivienda</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Crear Nueva Vivienda</h1>
    <form method="post">
        {% csrf_token %}
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required><br>

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" required><br>

        <label for="precio">Precio:</label>
        <input type="number" step="0.01" id="precio" name="precio" required><br>

        <label for="propietario">Propietario:</label>
        <select id="propietario" name="propietario_id" required>
            {% for propietario in propietarios %}
                <option value="{{ propietario.id }}">{{ propietario.nombre }}</option>
            {% endfor %}
        </select><br>

        <label for="tipo_inmueble">Tipo de Vivienda:</label>
        <select id="tipo_inmueble" name="tipo_inmueble_id" required>
            {% for tipo in tipos_inmuebles %}
                <option value="{{ tipo.id }}">{{ tipo.nombre }}</option>
            {% endfor %}
        </select><br>

        <label for="region">Región:</label>
        <select id="region" name="region_id" required>
            <option value="">Seleccione una región</option>
            {% for region in regiones %}
                <option value="{{ region.id }}">{{ region.nombre }}</option>
            {% endfor %}
        </select><br>

        <label for="comuna">Comuna:</label>
        <select id="comuna" name="comuna_id" required>
            <option value="">Seleccione una comuna</option>
        </select><br>

        <button type="submit">Crear</button>
    </form>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#region").change(function() {
                var url = "{% url 'ajax_load_comunas' %}";  // Asegúrate de que esta URL es correcta
                var regionId = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'region': regionId
                    },
                    success: function(data) {
                        $("#comuna").html(data);
                    }
                });
            });
        });
    </script>
</body>
</html>
